ion-content {
  --ion-background-color: var(--ion-color-primary)
  
}


ion-card {
  --ion-background-color: #F0F2F4; /*card color */ 
  margin: 0 50px;
  margin-bottom: 25px;
  margin-top: 25px;
}

/*-------------------------------------------------- */

ion-card-title {
  --color: #060606;
  font-size: 18px;
  font-weight: bold;
  font-family:  'Georgia', serif;
  margin-top: 2px;
}

/*ion-card-title {
  --color: #060606;
  font-size: 18px;
  font-family: 'Georgia', serif;
  margin-top: 2px;
}*/

ion-card-subtitle {
  --color: #626262;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  margin-top: 5px;
}

/*ion-card-subtitle {
  --color: #626262;
  font-size: 9px;
  font-family: 'Arial', sans-serif;
  margin-top: 5px;
}*/

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

ion-title {
  font-family: 'Georgia', serif;
  text-align: center;
}

ion-button {
  font-family: 'Roboto', serif;
}

ion-card:hover {
  transform: scale(1.04);
}

ion-card img {
  flex-grow: 1;
  object-fit: cover;
}

.like-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 1px;
  
  }

.large-button {
  font-size: 1.5em; /* Adjust the size as needed */
  

}

.large-button ion-icon {
  font-size: 1.5em; /* Adjust the icon size as needed */
}




.large-button::part(native) {
    box-shadow: none !important; /* Remove shadow */
    --ripple-color: #f0f2f4; /* Set ripple color */
}

.large-button {
    --box-shadow: none; /* Ionic 5/6 variable for box shadow */
    --ripple-color: #f0f2f4; /* Set ripple color */
}

.large-button:focus {
    box-shadow: none !important; /* Remove focus shadow */
    outline: none !important; /* Remove outline */
    --ripple-color: #f0f2f4; /* Ensure ripple color on focus */
}

.large-button:active {
    box-shadow: none !important; /* Remove active shadow */
    outline: none !important; /* Remove outline */
    --ripple-color: #f0f2f4; /* Ensure ripple color on active */
}




.department-subtitle {
  font-family: 'Arial', sans-serif; /* Change to your desired font                           font-family: 'Arial', sans-serif;   */  
  font-size: 12px; /* Adjust font size as needed */
  color: #060606; /* Change to your desired color */
  font-weight: bold; /* Optional: adjust font weight */
}


